doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Клуб четырех коней приглашает на Международный васюкинский турнир по шахматам!  Поддержите турнир, посетив лекцию о плодотворных дебютных идеях и сеанс одновременной игры гроссмейстера О. Бендера на 160 досках.  Превратим уездный город в шахматную столицу!")
        meta(name="keywords", content="Международный васюкинский турнир, шахматы, гроссмейстер, О. Бендер,  шахматный сеанс,  дебютные идеи,  шахматный турнир,  Клуб четырех коней")
        meta(name="author", content="Helga Gavrish")
        meta(name="robots", content="noindex, nofollow")

        link(rel='icon' type='image/png' href='/static/img/favicon-96x96.png' sizes='96x96')
        link(rel='icon' type='image/svg+xml' href='/static/img/favicon.svg')
        link(rel='shortcut icon' href='/static/img/favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='/static/img/apple-touch-icon.png')
        link(rel='manifest' href='/site.webmanifest')

        // Open Graph meta tags
        meta(property="og:title", content="Клуб четырех коней")
        meta(property="og:description", content="Клуб четырех коней приглашает на Международный васюкинский турнир по шахматам!  Поддержите турнир, посетив лекцию о плодотворных дебютных идеях и сеанс одновременной игры гроссмейстера О. Бендера на 160 досках.  Превратим уездный город в шахматную столицу!")
        meta(property="og:image", content="/static/img/favicon.svg")
        //- meta(property="og:url", content="")
        // Twitter Card meta tags
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:title", content="Клуб четырех коней")
        meta(name="twitter:description", content="Клуб четырех коней приглашает на Международный васюкинский турнир по шахматам!  Поддержите турнир, посетив лекцию о плодотворных дебютных идеях и сеанс одновременной игры гроссмейстера О. Бендера на 160 досках.  Превратим уездный город в шахматную столицу!")
        meta(name="twitter:image", content="/static/img/favicon.svg")
        title Клуб четырех коней
        link(href='static/css/style.min.css' rel='stylesheet')
        link(rel="preload" href="/static/fonts/GolosText-Regular.ttf" as="font" type="font/ttf" crossorigin)
        link(rel="preload" href="/static/fonts/Merriweather-Regular.ttf" as="font" type="font/ttf" crossorigin)
    body
        main
            include ../_mixins
            block content
    script(type='text/javascript' src='static/js/main.min.js')