$dark: #1F1F1F;
$gray: #313131;
$lgray: #D0D0D0;
$dgray: #424241;
$white: #FFF;
$light: #D6D6D6;
$yellow: #FBCE51;
$blue: #3057A2;
$red: #F54932;
$beige: #E9DED4;

$font_golos: 'GolosText', sans-serif;
$font_merri: 'Merriweather', sans-serif;

$resolutions: (
  xl: 1920px,
  lg: 1250px,
  xs: 375px,
);